{% extends 'base.html' %}
{% block blog %}

<div class="container">
    <div class="row">
        {% for article in articles%}
        <div class="col-sm-6 mb-3">
            <div class="card text-white" style="background-color: #040404;">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text">{{article.show}}</p>
                    <a href="#" class="btn btn-success">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



  
{% endblock %}